{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "no-console": 0,
    "no-useless-escape": 0
  },
  "globals": {
    "jest": true,
    "describe": true,
    "it": true,
    "expect": true,
    "beforeAll": true,
    "afterAll": true,
    "beforeEach": true,
    "afterEach": true,
    "window": true,
    "document": true,
    "navigator": true
  }
}
