body {
  font-family: sans-serif;
}

.container {
  width: 100%;
  max-width: 320px;
}

.p-3 {
  margin-top: 3px;
}

.qrcode {
  text-align: center;
}
textarea {
  font-family: monospace, monospace;
}
